/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');
/* Body Styling */

html, body {
  background: #292a44;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.App, #root {
  height: 100%;
}

/* General Font Styling */

* {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

/* General Input Stylings */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 90%;
  background-color: #fefffe;
  text-align: center;
  border: 1.5px solid #97c6cf;
  cursor: pointer;
  margin: 5px 0px 5px 0px;
  padding: 15px 15px 15px 15px;
}

input:focus {
  outline: 2.5px solid #97c6cf;
}

/* Nav Bar Styling */

nav li {
  list-style-type: none;
}

.menuNav a {
  color: #424761;
  font-size: 24px;
  text-decoration: none;
  /* Underline Colour Animation */
  background-image: linear-gradient(#f3b888, #f3b888), /* Starting Underline Colour Animation */
  linear-gradient(rgb(233, 178, 0.3), rgb(233, 178, 0.3)), linear-gradient(#e58f65, #e58f65);
  background-size: 20px 3px, 100% 3px, 0 3px;
  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s linear, background-position 0.5s linear;
}

.menuNav a:hover {
  background-size: 20px 3px, 0 3px, 100% 3px;
  background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
}

.activeNavLink {
  background-image: linear-gradient(#e6ed96, #e6ed96);
}

nav li a:visited {
  color: #424761;
}

.hamburger {
  display: flex;
}

.NavBarContent {
  display: flex;
  align-items: center;
  background-color: #ff556d;
  text-align: center;
  position: relative;
}

.NavBarContent a {
  padding: 0;
}

.navLogo {
  display: flex;
  text-align: center;
}

.navLogo p {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  margin-left: 25px;
}

.cart-icon {
  margin-left: auto;
  margin-right: 10px;
  font-size: 25px;
  color: #ffffff;
}

.cart-icon:hover {
  opacity: 0.7;
}

.NavBarContent button {
  width: 40px;
  height: 40px;
  left: 40px;
  top: 40px;
  z-index: 14;
  cursor: pointer;
  border: none;
  background: transparent;
}

.menuNav {
  background: #1597b0;
  height: 100vh;
  width: 0;
  max-width: 290px;
  margin-bottom: 0;
  position: fixed;
  right: -40px;
  bottom: 0;
  z-index: 13;
  overflow-y: scroll;
  list-style: none;
  overflow: hidden;
  transition: all 1s ease;
}

.menuNav.showMenu {
  width: 100%;
}

.menuNav a {
  display: block;
  font-size: 24px;
  padding: 20px 40px;
  text-decoration: none;
  color: #424761;
  text-transform: uppercase;
}

.menuNav a:first-child {
  margin-top: 7rem;
}

#logout-btn {
  cursor: pointer;
}

/* Image Styling */

/* Landing Page */

.landing h1 {
  color: #F0D1CD;
  font-weight: bold;
  font-size: 54px;
}

/* Product Stylings */

.productContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: #fefffe;
}

.productWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 16%;
  background: #fefffe;
  padding: 2%;
  margin: 15px 5px 15px 5px;
  overflow: hidden;
}

.productImg {
  max-width: 100%;
  width: 200px;
  height: 200px;
  align-self: center;
  flex-grow: 1;
}

.productInfo {
  text-align: center;
  flex-grow: 1;
}

.productInfo h3, h6, h4 {
  margin: 15px 0px 15px 0px;
  flex-grow: 1;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  background-color: #fefffe;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.buttonWrapper a button, button {
  color: #424761;
  font-size: 15px;
  width: 170px;
  height: 30px;
  margin: 5px 0px 5px 0px;
  border: 1.5px solid #97c6cf;
  border-radius: 12px;
  cursor: pointer;
  background: #97c6cf;
}

.buttonWrapper a button:hover, button:hover {
  opacity: 0.7;
}

/* Cart Stylings */

.cart {
  display: flex;
  align-items: start;
  text-align: center;
  overflow: hidden;
  height: 100%;
}

table {
  width: 90%;
  margin-right: 50px;
  margin: 10px;
}

th {
  width: 20%;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #424761;
}

tr {
  vertical-align: middle;
}

td input {
  width: 20px;
}

td {
  vertical-align: middle;
  text-align: center;
  padding: 30px;
}

.cartImage {
  align-self: center;
}

.cartWrapper input {
  width: 50px;
}

.cartSummaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  float: right;
  background: #89c09f;
  height: 100%;
  width: 30%;
  padding: 15px 15px 15px 0px;
  margin: 0px 0px 15px 25px;
  border: 0px solid;
  border-radius: 8px;
}

.cartSummaryContainer hr {
  width: 75%;
  border: 1px;
  border-top: 5px solid black;
  border-radius: 5px;
  padding: 5px;
}

.cartSummaryContainer label {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.termsContainer {
  margin-top: 25px;
  align-self: center;
}

.termsCheck {
  width: auto;
  margin: 0px 15px 20px 0px;
}

.priceContainer {
  margin-top: 25px;
}

.priceContainer span:first-of-type {
  font-size: 16px;
  color: #424761;
  margin: 25px 20px 10px 0px;
}

#priceSpan {
  font-size: 24px;
}

.cartSummaryContainer span {
  margin: 10px 0px 0px 0px;
}

.cartSummaryContainer span:last-of-type {
  margin-bottom: 50px;
  font-size: 12px;
}

.cartSummaryContainer button {
  background: #e9b24c;
  color: #424761;
}

.cartSummaryContainer button:disabled {
  background: #cccccc;
  color: #424761;
}

/* Admin Stylings */

.adminContainer {
  display: flex;
  flex-direction: column;
}

.adminContainer h1 {
  text-align: center;
}

.adminWrapper {
  display: flex;
  flex-direction: column;
}

.adminWrapper select {
  text-align: center;
  border: 1.5px solid #97c6cf;
  cursor: pointer;
}

.adminWrapper select:focus {
  outline: 2.5px solid #97c6cf;
}

.adminForm {
  display: flex;
  flex-direction: column;
}

.adminForm input {
  padding: 15px 15px 15px 15px;
  margin: 15px;
}

/* Collapsible Styling */

.adminCollapse {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Collapsible {
  display: grid;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  align-self: center;
  cursor: pointer;
  width: 100%;
  background-color: #97c6cf;
  padding: 25px 25px 25px 25px;
  border: 0.5px solid #89c09f;
}

.Collapsible input {
  border: 2px solid #89c09f;
}

.Collapsible span {
  width: 100%;
  font-size: 24px;
  margin: 5px 0px 5px 0px;
}

/* Registration Container Styling */

.registrationContainer input {
  width: 30%;
}

.registrationContainer input:last-of-type {
  width: 20%;
}

/* Login Container Styling */

.loginContainer input {
  width: 30%;
}

.loginContainer input:last-of-type {
  width: 20%;
}

/* Footer Stylings */

.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefffe;
  height: 50px;
  clear: both;
  position: fixed;
  margin-top: 100%;
  bottom: 0;
  width: 100%;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .productWrapper {
    flex: 1 18%;
    padding: 2%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .productWrapper {
    flex: 1 21%;
    padding: 2%;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .productWrapper {
    flex: 1 24%;
    padding: 4%;
  }
}

@media all and (max-width: 480px) {
  /* Mobile General Stylings */
  /* Mobile Nav Stylings */
  /* Mobile Hamburger Styling */
  /* Mobile Product Stylings */
  .productWrapper {
    flex: 1 30%;
    padding: 5%;
  }
  /* Mobile Admin Stylings */
  /* Mobile Cart Styling */
  .cartContainer h3 {
    text-align: center;
    font-size: 24px;
  }
  .cartWrapper {
    width: 100%;
  }
  .cartWrapper img {
    height: 100px;
    width: 100px;
  }
  .cartWrapper input {
    width: 25px;
    height: 25px;
  }
  .cartWrapper button {
    width: 30px;
    height: 10px;
  }
  .cartSummaryContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 15px 5px 0px;
  }
  .cartSummaryContainer span {
    margin: 0px 10px 0px 5px;
  }
  .cartSummaryContainer button {
    width: 110px;
    height: 30px;
    margin: 5px 0px 5px 0px;
    border: 1.5px solid #ff5400;
    cursor: pointer;
  }
}