nav div {
  display: flex;
  justify-content: space-evenly;
}


nav li {
  list-style-type: none;
}

.productWrapper {
  display: flex;
  background: #eee;
  padding: 15px 15px 15px 15px;
  margin: 15px;
  flex-direction: column;
}